{% extends 'basic.html' %}
{% load static %}
{% block content %}




			<div id="breadcrumb" class="clearfix">
				<div class="container">
					<div class="breadcrumb clearfix">
						<ul class="ul-breadcrumb">
							<li><a href="/" >Главная</a></li>
                            <li><a href="/" >Каталог</a></li>
							<li><a href="{% url 'cat'  item.category.name_slug  %}" >{{ item.category.name }}</a></li>
							<li><span>{{ item.name }}</span></li>
						</ul>

					</div>
				</div>
			</div><!-- end breadcrumb -->

			<div id="columns" class="columns-container">
				<!-- container -->
				<div class="container">
					<div class="row">
						<div class="pb-left-column col-xs-12 col-sm-12 col-md-5">
							<div id="image-block" class="clearfix">
								<div id="view_full_size">
									<img src="{{ item.itemimage_set.first.image.url }}" alt="The Cottage Bouquet" class="img-responsive" width="470" height="927">
								</div>
							</div><!-- end #image-block -->
							<div id="views_block" class="clearfix">
								<div id="thumbs_list">
									<ul id="thumbs_list_frame" class="list-inline">
                                        {% for image in item.itemimage_set.all %}
                                            {% if forloop.first %}
                                                <li class="first">
										        	<img src="{{ image.image.url }}" alt="The Cottage Bouquet" class="img-responsive" width="102" height="136">
									        	</li>
                                            {% elif forloop.last %}
                                                	<li class="last">
										            	<img src="{{ image.image.url }}" alt="The Cottage Bouquet" class="img-responsive" width="102" height="136">
									            	</li>
                                            {% else %}
                                                <li>
										        	<img src="{{ image.image.url }}" alt="The Cottage Bouquet" class="img-responsive" width="102" height="136">
									        	</li>
                                            {% endif %}
                                        {% endfor %}


									</ul>
								</div>
							</div><!-- end views_block -->
						</div><!-- end pb-left-column -->
						<div class="pb-center-column col-xs-12 col-sm-12 col-md-7">
							<div class="pb-centercolumn">
								<h1>{{ item.name }}</h1>

								<div class="price clearfix">
									<p class="our_price_display">
										{{ item.price }}
									</p>

								</div><!-- end price -->

								<div id="short_description_block">
									<p>{{ item.description | safe }}</p>
								</div><!-- end short_description_block -->
								  <form action="{% url 'add_to_cart' %}"   method="post"
                  onsubmit="add_to_cart(this,{{ item.id }});return false;">{% csrf_token %}

                    {% if item.is_present %}


     <a style="display: inline-block" href="#" onclick="upClick(this)" class="btn status-enable btn-sm product_quantity_down">
												<i class="fa fa-caret-up"></i>
											</a>
                            <input class="form-control cart-input" type="number" id="{{ item.id }}_items_number" min="1"  value="1" >
                        <a style="display: inline-block" href="#" onclick="downClick(this)" class="btn status-enable btn-sm product_quantity_down">
												<i class="fa fa-caret-down"></i>
											</a>




                            <button type="submit" class="btn btn-primary" id="{{ item.id }}_submit"
                                    data-item_id="{{ item.id }}"
                                    data-item_name="{{ item.name }}"
                                    data-item_price="{{ item.price }}"
                                    data-item_image="{{ item.itemimage_set.first.image_small }}">
                                <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> В КОРЗИНУ </span>
                            </button>

                    {% else %}
                        <strong>НЕТ В НАЛИЧИИ</strong>
                    {% endif %}

            </form>

							</div><!-- end pb-centercolumn -->
						</div><!-- end pb-center-column -->

					</div><!-- end row -->
{#					<div class="blockproductscategory block">#}
{#						<h4 class="title_block">Related Products</h4>#}
{#						<div class="block_content">#}
{#							<div class="owl-row">#}
{#								<div class="blockproductscategory_grid owl-carousel owl-theme owl-rtl owl-responsive-1000 owl-loaded">#}
{##}
{##}
{##}
{##}
{##}
{#							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1462.5px;"><div class="owl-item active" style="width: 262.5px; margin-left: 30px;"><div class="item">#}
{#										<div class="product-container">#}
{#											<div class="left-block">#}
{#												<div class="product-image-container">#}
{#													<a class="product_img_link" href="page-detail.html" title="Tulipa floriade - red">#}
{#														<img src="img/product/1.jpg" alt="Tulipa floriade - red" class="img-responsive image-effect" width="480" height="640">#}
{#													</a>#}
{#													<span class="label-new label">New</span>#}
{#													<span class="label-sale label">Sale</span>#}
{#													<span class="label-reduction label">-5%</span>#}
{#												</div>#}
{#												<div class="box-buttons">#}
{#													<a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>#}
{#													<a class="button btn quick-view" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-eye"></i>#}
{#													</a>#}
{#													<a class="button btn addToWishlist" href="#" title="Add to my wishlist">#}
{#														<i class="zmdi zmdi-favorite-outline"></i>#}
{#													</a>#}
{#													<a class="button btn add_to_compare" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-refresh-alt"></i>#}
{#													</a>#}
{#												</div>#}
{#											</div><!--end left block -->#}
{#											<div class="right-block">#}
{#												<div class="product-box">#}
{#													<h5 class="name">#}
{#														<a class="product-name" href="page-detail.html" title="Tulipa floriade - red">#}
{#															Tulipa floriade - red#}
{#														</a>#}
{#													</h5>#}
{#													<div class="content_price">#}
{#														<span class="price product-price">$28.98</span>#}
{#														<span class="old-price product-price">$30.51</span>#}
{#													</div>#}
{#													<div class="product_comments clearfix">#}
{#														<div class="product-rating">#}
{#															<div class="star_content">#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#															</div>#}
{#														</div>#}
{#													</div><!-- end product_comments -->#}
{#												</div><!-- end product-box -->#}
{#											</div><!--end right block -->#}
{#										</div><!-- end product-container-->#}
{#									</div></div><div class="owl-item active" style="width: 262.5px; margin-left: 30px;"><div class="item">#}
{#										<div class="product-container">#}
{#											<div class="left-block">#}
{#												<div class="product-image-container">#}
{#													<a class="product_img_link" href="page-detail.html" title="Queen rose - yellow">#}
{#														<img src="img/product/2.jpg" alt="Queen rose - yellow" class="img-responsive image-no-effect" width="480" height="640">#}
{#													</a>#}
{#													<span class="label-new label">New</span>#}
{#												</div>#}
{#												<div class="box-buttons">#}
{#													<a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>#}
{#													<a class="button btn quick-view" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-eye"></i>#}
{#													</a>#}
{#													<a class="button btn addToWishlist" href="#" title="Add to my wishlist">#}
{#														<i class="zmdi zmdi-favorite-outline"></i>#}
{#													</a>#}
{#													<a class="button btn add_to_compare" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-refresh-alt"></i>#}
{#													</a>#}
{#												</div>#}
{#											</div><!--end left block -->#}
{#											<div class="right-block">#}
{#												<div class="product-box">#}
{#													<h5 class="name">#}
{#														<a class="product-name" href="page-detail.html" title="Queen rose - yellow">#}
{#															Queen rose - yellow#}
{#														</a>#}
{#													</h5>#}
{#													<div class="content_price">#}
{#														<span class="price product-price">$98.98</span>#}
{#													</div>#}
{#													<div class="product_comments clearfix">#}
{#														<div class="product-rating">#}
{#															<div class="star_content">#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#															</div>#}
{#														</div>#}
{#													</div><!-- end product_comments -->#}
{#												</div><!-- end product-box -->#}
{#											</div><!--end right block -->#}
{#										</div><!-- end product-container-->#}
{#									</div></div><div class="owl-item active" style="width: 262.5px; margin-left: 30px;"><div class="item">#}
{#										<div class="product-container">#}
{#											<div class="left-block">#}
{#												<div class="product-image-container">#}
{#													<a class="product_img_link" href="page-detail.html" title="Flowers Bouquet - pink">#}
{#														<img src="img/product/3.jpg" alt="Flowers Bouquet - pink" class="img-responsive image-effect" width="480" height="640">#}
{#													</a>#}
{#													<span class="label-new label">New</span>#}
{#												</div>#}
{#												<div class="box-buttons">#}
{#													<a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>#}
{#													<a class="button btn quick-view" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-eye"></i>#}
{#													</a>#}
{#													<a class="button btn addToWishlist" href="#" title="Add to my wishlist">#}
{#														<i class="zmdi zmdi-favorite-outline"></i>#}
{#													</a>#}
{#													<a class="button btn add_to_compare" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-refresh-alt"></i>#}
{#													</a>#}
{#												</div>#}
{#											</div><!--end left block -->#}
{#											<div class="right-block">#}
{#												<div class="product-box">#}
{#													<h5 class="name">#}
{#														<a class="product-name" href="page-detail.html" title="Flowers Bouquet - pink">#}
{#															Flowers Bouquet - pink#}
{#														</a>#}
{#													</h5>#}
{#													<div class="content_price">#}
{#														<span class="price product-price">$68.68</span>#}
{#													</div>#}
{#													<div class="product_comments clearfix">#}
{#														<div class="product-rating">#}
{#															<div class="star_content">#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#															</div>#}
{#														</div>#}
{#													</div><!-- end product_comments -->#}
{#												</div><!-- end product-box -->#}
{#											</div><!--end right block -->#}
{#										</div><!-- end product-container-->#}
{#									</div></div><div class="owl-item active" style="width: 262.5px; margin-left: 30px;"><div class="item">#}
{#										<div class="product-container">#}
{#											<div class="left-block">#}
{#												<div class="product-image-container">#}
{#													<a class="product_img_link" href="page-detail.html" title="Tulipa floriade - yellow">#}
{#														<img src="img/product/4.jpg" alt="Tulipa floriade - yellow" class="img-responsive image-effect" width="480" height="640">#}
{#													</a>#}
{#													<span class="label-new label">New</span>#}
{#												</div>#}
{#												<div class="box-buttons">#}
{#													<a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>#}
{#													<a class="button btn quick-view" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-eye"></i>#}
{#													</a>#}
{#													<a class="button btn addToWishlist" href="#" title="Add to my wishlist">#}
{#														<i class="zmdi zmdi-favorite-outline"></i>#}
{#													</a>#}
{#													<a class="button btn add_to_compare" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-refresh-alt"></i>#}
{#													</a>#}
{#												</div>#}
{#											</div><!--end left block -->#}
{#											<div class="right-block">#}
{#												<div class="product-box">#}
{#													<h5 class="name">#}
{#														<a class="product-name" href="page-detail.html" title="Tulipa floriade - yellow">#}
{#															Tulipa floriade - yellow#}
{#														</a>#}
{#													</h5>#}
{#													<div class="content_price">#}
{#														<span class="price product-price">$56.28</span>#}
{#													</div>#}
{#													<div class="product_comments clearfix">#}
{#														<div class="product-rating">#}
{#															<div class="star_content">#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#															</div>#}
{#														</div>#}
{#													</div><!-- end product_comments -->#}
{#												</div><!-- end product-box -->#}
{#											</div><!--end right block -->#}
{#										</div><!-- end product-container-->#}
{#									</div></div><div class="owl-item" style="width: 262.5px; margin-left: 30px;"><div class="item">#}
{#										<div class="product-container">#}
{#											<div class="left-block">#}
{#												<div class="product-image-container">#}
{#													<a class="product_img_link" href="page-detail.html" title="Queen rose">#}
{#														<img src="img/product/5.jpg" alt="Queen rose" class="img-responsive image-effect" width="480" height="640">#}
{#													</a>#}
{#													<span class="label-new label">New</span>#}
{#												</div>#}
{#												<div class="box-buttons">#}
{#													<a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>#}
{#													<a class="button btn quick-view" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-eye"></i>#}
{#													</a>#}
{#													<a class="button btn addToWishlist" href="#" title="Add to my wishlist">#}
{#														<i class="zmdi zmdi-favorite-outline"></i>#}
{#													</a>#}
{#													<a class="button btn add_to_compare" href="#" title="Quick view">#}
{#														<i class="zmdi zmdi-refresh-alt"></i>#}
{#													</a>#}
{#												</div>#}
{#											</div><!--end left block -->#}
{#											<div class="right-block">#}
{#												<div class="product-box">#}
{#													<h5 class="name">#}
{#														<a class="product-name" href="page-detail.html" title="Queen rose">#}
{#															Queen rose#}
{#														</a>#}
{#													</h5>#}
{#													<div class="content_price">#}
{#														<span class="price product-price">$26.28</span>#}
{#													</div>#}
{#													<div class="product_comments clearfix">#}
{#														<div class="product-rating">#}
{#															<div class="star_content">#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#																<div class="star star_on"></div>#}
{#															</div>#}
{#														</div>#}
{#													</div><!-- end product_comments -->#}
{#												</div><!-- end product-box -->#}
{#											</div><!--end right block -->#}
{#										</div><!-- end product-container-->#}
{#									</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="">prev</div><div class="owl-next" style="">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div></div><!-- end blockproductscategory_grid -->#}
{#							</div><!-- end tabproduct-carousel -->#}
{#						</div>#}
{#					</div><!-- end blockproductscategory -->#}
				</div> <!-- end container -->
			</div><!--end warp-->

<script>

function upClick(b){
     var $button = $(b);
   var oldValue = $('.cart-input').val();


	  var newVal = parseFloat(oldValue) + 1;

   $('.cart-input').val(newVal);
}

function downClick(b){
     var $button = $(b);
  var oldValue = $('.cart-input').val();
    console.log(oldValue)
        if (parseFloat(oldValue) > 2){
           var newVal = parseFloat(oldValue) - 1;
        }else {
             var newVal = 1
        }
  $('.cart-input').val(newVal);
}

function add_to_cart(form,i_id) {
    if (i_id){
       // console.log(form.elements[i_id+"_items_number"].value);
    var btn = "#"+i_id+"_submit"
     // console.log($(btn).data('item_name'));
     //

        // console.log(form.elements["items_number"].value);
        //  console.log(form.elements["item_id"].value);
        // console.log(form.elements["item_name"].value);
        //  console.log(form.elements["item_price"].value);
        //  console.log(form.elements["item_image"].value);
        var item_number = form.elements[i_id+"_items_number"].value
        var item_id = $(btn).attr('data-item_id')
        var item_name = $(btn).data('item_name')
        var item_price = $(btn).data('item_price')
        var item_image = $(btn).data('item_image')


    }
    else {
        var item_number = form.elements["items_number"].value
        var item_id = form.elements["item_id"].value
        var item_name = form.elements["item_name"].value
        var item_price = form.elements["item_price"].value
        var item_image = form.elements["item_image"].value
    }


    var csrf_token = form.elements["csrfmiddlewaretoken"].value
    // console.log($(form).attr('action'));
    //  console.log(csrf_token);
        var data = {};
        data.item_id = item_id;
        data.item_number = item_number;
        data['csrfmiddlewaretoken'] = csrf_token;
        var url = $(form).attr('action');
        console.log(data);

        $.ajax({
            url:url,
            type:'POST',
            data: data,
            cache:true,
            success: function (data) {
                console.log('OK');
                // console.log(data.total_items_in_cart);
                // console.log(data.all_items);

                $('.cart_table_lg').empty();

                $.each(data.all_items,function (k,v) {

                    // $('.cart_table_lg').append('<tr class="miniCartProduct">\n' +
                    //     '                                    <td style="width:20%" class="miniCartProductThumb">\n' +
                    //     '                                        <div><a href="product-details.html"> <img src="'+ v.image +'" alt="img">\n' +
                    //     '                                        </a></div>\n' +
                    //     '                                    </td>\n' +
                    //     '                                    <td style="width:40%">\n' +
                    //     '                                        <div class="miniCartDescription">\n' +
                    //     '                                            <h4><a href="product-details.html">'+ v.name +'</a></h4>\n' +
                    //     '                                            <div class="price"><span> '+ v.price +' &#8381;</span></div>\n' +
                    //     '                                        </div>\n' +
                    //     '                                    </td>\n' +
                    //     '                                    <td style="width:10%" class="miniCartQuantity"><a> X '+ v.number+' </a></td>\n' +
                    //     '                                    <td style="width:15%" class="miniCartSubtotal"><span> '+ v.total_price +' &#8381;</span></td>\n' +
                    //     '                                    <td style="width:5%" class="delete"><a data-item_id="'+ v.id +'" onclick="delete_from_cart(this);return false;"> x </a></td>\n' +
                    //     '                                </tr>');

                    $('.cart_table_lg').append('     \t<tr>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<td class="product-thumbnail">\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="page-detail.html">\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img width="80" height="107" alt="" class="img-responsive" src="'+ v.image +'">\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</td>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<td class="product-name">\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="page-detail.html">'+ v.name +'</a>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<br><span class="amount"><strong>'+ v.number+' X '+ v.price +' &#8381; = '+ v.total_price +' &#8381;</strong></span>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</td>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<td class="product-actions">\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a data-item_id="'+ v.id +'" class="remove" onclick="delete_from_cart(this);return false;"> <i class="fa fa-times"></i> </a></td>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<i class="fa fa-times"></i>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</td>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</tr>');


                });
                $('.cart_total_lg').html(data.total_cart_price);
                $('.cart_footer_lg').html('');
                $('.cart_footer_lg').append('' +
                    ' <h3 class="text-right subtotal"> ИТОГО: '+ data.total_cart_price +' &#8381; </h3>\n' +
                    '                            <a class="btn  btn-danger" href="/cart"> <i class="fa fa-shopping-cart"> </i> ПРОСМОТР КОРЗИНЫ</a><a\n' +
                    '                                class="btn  btn-primary"> ОПЛАТА</a>');


                $.amaran({
                        'theme'     :'user blue',
                        'content'   :{
                            img: item_image,
                            user:'Добавлено в корзину:',
                            message: item_number + ' шт. - ' + item_name
                        },
                        'position'  :'bottom right',
                        'outEffect' :'slideBottom'
                    });
            },
            error: function () {
                console.log('ERROR')
            }
        })
    }

</script>

{% endblock %}

{% block js %}
      <script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
{% endblock %}